<h1>Brief History on Sets Function</h1>

<blockquote>
    Sets are a new object type with ES6 (ES2015) that allow to create collections of unique values. 
    The values in a set can be either simple primitives like strings or integers, but more complex 
    object types like object literals or arrays can also be part of a set. Here’s a simple example 
    showing off a basic set and a few of the available methods on it like add, size, has, forEach, 
    delete and clear. Sets also have the keys and values methods, with keys being an alias for values, 
    so both methods do exactly the same thing. Using either of these methods returns a new iterator 
    object with the values of the set in the same order in which they were added to the set.  
</blockquote>