<h1>Brief History on Parameters Function</h1>

<blockquote>
        Parameter handling has been significantly upgraded in ECMAScript 6. 
        It now supports parameter default values, rest parameters (varargs) and destructuring.
        Additionally, the spread operator helps with function/method/constructor calls and Array literals.
        A default parameter value is specified for a parameter via an equals sign (=). 
        If a caller doesn’t provide a value for the parameter, the default value is used. 
        In the following example, the default parameter value of y is.
        If you prefix a parameter name with the rest operator (...), that parameter receives all remaining parameters via an Array: 
</blockquote>
