<app-shell>
  <ul>
    <li>
        <a routerLink="/arrow">Arrow Functions</a>
    </li>
  </ul>
  <ul>
      <li>
          <a routerLink="/classes">Classes</a>
      </li>
  </ul>
  <ul>
      <li>
          <a routerLink="/destructuring">Destructuring</a>
      </li>
  </ul>
  <ul>
      <li>
          <a routerLink="/maps">Maps</a>
      </li>
  </ul>
  <ul>
      <li>
          <a routerLink="/parameters">Parameters</a>
      </li>
  </ul>
  <ul>
      <li>
          <a routerLink="/scope">Scope and Let</a>
      </li>
  </ul>
  <ul>
      <li>
          <a routerLink="/sets">Sets</a>
      </li>
  </ul>
  <ul>
      <li>
          <a routerLink="/template">Template Strings</a>
      </li>
  </ul>
  <ul>
      <li>
          <a routerLink="/weak">WeakMap/WeakSet</a>
      </li>
  </ul>
  
  

  <router-outlet></router-outlet>
</app-shell>