<h1>Brief History on Destructuring Function</h1>

<blockquote>
    The two most used data structures in JavaScript are Object and Array.
    Objects allow us to create a single entity that stores data items by key, 
    and arrays allow us to gather data items into an ordered collection.
    But when we pass those to a function, it may need not an object/array as a whole, 
    but rather individual pieces. Destructuring assignment is a special syntax 
    that allows us to “unpack” arrays or objects into a bunch of variables, as sometimes that’s more convenient. 
    Destructuring also works great with complex functions that have a lot of parameters, default values, and so on.
</blockquote>
